terraform/values/argo_values.yaml
terraform/values/updater_values.yaml
argo/gh-secret.yaml
terraform/.terraform
terraform/terraform.*
terraform/.terraform.lock.hcl
argo/github-eso-pat.yaml
argo/secrets.yaml
cloudflare.*