---
apiVersion: v1
kind: Secret
metadata:
  name: slowedapp-frontend-service
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: git@github.com:zexianchoo/slowedapp-src.git
  sshPrivateKey: |
  <your key here>
  insecure: "false"
  enableLFS: "true"
